{{ define "raiseMenu" }}
<div id="actions" class="flex gap-2 justify-center">
    <button hx-get="/raise-menu/{{ .PlayerId }}/back" hx-swap="outerHTML" hx-target="#actions"
        class="px-4 py-2 min-w-max w-24 bg-gray-50 rounded-md active:scale-90 transition flex gap-2 items-center justify-center disabled:bg-neutral-300 disabled:border-2 disabled:border-gray-50 disabled:active:scale-100">
        Back
    </button>
    <div class="flex gap-2 justify-center">
        {{ range .RaiseAmounts }}
        <form ws-send>
            <input type="number" class="hidden" name="amount" value="{{.}}" />
            <button name="action" type="submit" value="Raise"
                class="px-4 py-2 min-w-max w-24 bg-gray-50 rounded-md active:scale-90 transition flex gap-2 items-center justify-center disabled:bg-neutral-300 disabled:border-2 disabled:border-gray-50 disabled:active:scale-100">
                {{ . }} <i class="fa-solid fa-coins"></i>
            </button>
        </form>
        {{end}}
    </div>
</div>
{{end}}
