@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "gandia";
    src: local("gandia") url("/fonts/GandiaBold.otf") format("otf");
    font-weight: normal;
    font-display: swap;
  }
}

body {
  height: calc(
    100vh - env(safe-area-inset-top, 0) - env(safe-area-inset-bottom, 0)
  );
  height: calc(
    calc(var(--vh, 1vh) * 100) - env(safe-area-inset-top, 0) -
      env(safe-area-inset-bottom, 0)
  );
  font-family: "gandia";
}

html {
  background-color: rgb(212 212 212);

  /* WebKit adds a gray box whenvener you click on a button */
  -webkit-tap-highlight-color: transparent;
  /* WebKit zooms in when you double tap */
  touch-action: manipulation;
}

.app-container,
#app {
  margin-top: env(safe-area-inset-top, 0);
  margin-bottom: env(safe-area-inset-bottom, 0);
  height: calc(
    100vh - env(safe-area-inset-top, 0) - env(safe-area-inset-bottom, 0)
  );
  height: calc(
    calc(var(--vh, 1vh) * 100) - env(safe-area-inset-top, 0) -
      env(safe-area-inset-bottom, 0)
  );
}

.app-container {
  position: relative;
}
