@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  background-color: rgb(212 212 212);
}

.app-container,
#app {
  margin-top: env(safe-area-inset-top, 0);
  margin-bottom: env(safe-area-inset-bottom, 0);
  height: calc(
    -webkit-fill-available - env(safe-area-inset-top, 0) - env(safe-area-inset-bottom, 0)
  );
  height: calc(
    100vh - env(safe-area-inset-top, 0) - env(safe-area-inset-bottom, 0)
  );
}

.app-container {
  position: relative;
}
