*
!client/public
!client/src
!client/package.json
!client/package-lock.json
!client/tailwind.config.json
!client/svelte.config.json
!client/tsconfig.json
!client/vite.config.json
!client/index.html
!client/public

!nginx/nginx.conf

!server/go.mod
!server/go.sum
!server/src
!/server/db/migrations
