<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/landing/output.css" rel="stylesheet" />
    <script src="https://unpkg.com/htmx.org@1.9.2"
        integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
        crossorigin="anonymous"></script>
</head>

<body class="bg-neutral-300">
    <div class="flex flex-col items-center justify-center w-full gap-4 bg-red-50 p-20">
        <div class="self-start flex items-center gap-2 text-xl">
            <div class="bg-red-500 w-6 h-6 rounded-md rotate-45"></div>
            <h1>Tiny Poker</h1>
        </div>
        <div class="my-20 flex flex-col items-center gap-4">
            <h1 class="text-6xl font-bold">A simpler way to play poker...</h1>
            <p class="w-full max-w-md text-center">
                A poker app that is easy to understand. Play tiny game with tiny load
                times without risking your money. Master your hands and learn new
                playstyles.
            </p>
            <button class="rounded-md px-4 py-2 bg-gray-50 border-black border-2">
                Play in browser
            </button>
        </div>
    </div>
    <div class="p-20 bg-neutral-50 flex justify-end">
        <h3 class="text-4xl font-semibold">Do away with all the clutter</h3>
    </div>
    <div class="p-20 bg-neutral-100">
        <h3 class="text-4xl font-semibold">Practice in a safe environment</h3>
    </div>
    <div class="p-20 bg-neutral-50 flex justify-end">
        <h3 class="text-4xl font-semibold">Play for fun, not for money</h3>
    </div>
    <div class="p-20 bg-neutral-100 flex flex-col items-center">
        <h3 class="text-4xl font-semibold">Be a part of a new movement</h3>
        <div class="flex flex-col items-center gap-4 m-10">
            <h3>Ready to start your journey?</h3>
            <button class="rounded-md px-4 py-2 bg-gray-50 border-2 border-black">
                Play in browser
            </button>
        </div>
    </div>
</body>
