{{ define "game" }}
<div hx-ext="ws" ws-connect="/game/{{.GameId}}/player/{{.PlayerId}}/ws" class="flex flex-col justify-around h-full bg-neutral-300 h-full
    app-container">
    {{ block "opponents" .Opponents }}
    <div id="opponents" class="flex justify-center items-center">
        {{ range . }}
        <div class="flex flex-col items-center">
            Player#{{ .PlayerId }}
            {{ template "stack" .Stack}}
        </div>
        {{end}}
    </div>
    {{end}}
    {{ block "communityCards" .CommunityCards }}
    <div id="community-cards" class="flex gap-2 justify-center items-center">
        {{ range . }}
        {{ template "card" . }}
        {{end}}</>
    </div>
    {{end}}
    {{ block "pot" .Pot }}
    <div id="pot" class="flex justify-center items-center">
        {{ template "stack" . }}
    </div>
    {{end}}
    <div class="flex flex-col gap-2 items-center">
        {{ block "lastAction" .LastAction }}
        <div id="last-action">
            {{ . }}
        </div>
        {{end}}
        {{ block "handStrength" .HandStrength }}
        <div id="hand-strength">
            {{ . }}
        </div>
        {{end}}
        {{ block "playerStack" .Stack }}
        <div id="player-stack">
            {{template "stack" .}}
        </div>
        {{end}}
        {{ block "pocketCards" .PocketCards }}
        <div id="poket-cards" class="flex gap-2 justify-center">
            {{ range . }}
            {{ template "card" . }}
            {{ end}}
        </div>
        {{ end }}
        {{ block "actions" .Actions }}
        <form id="actions" ws-send class="flex gap-2 justify-center">
            <button name="action" type="submit" value="CheckFold" {{if .CheckFoldDisabled }} disabled {{end}} class="
            px-4 py-2 min-w-max w-24
                bg-gray-50 rounded-md active:scale-90 transition flex gap-2
            items-center justify-center disabled:bg-neutral-300
            disabled:border-2 disabled:border-gray-50 disabled:active:scale-100">
                {{.CheckFoldLabel}}
            </button>
            <button name="action" type="submit" value="Call" {{if .CallDisabled }} disabled {{end}} class="
            px-4 py-2 min-w-max w-24
                bg-gray-50 rounded-md active:scale-90 transition flex gap-2
            items-center justify-center disabled:bg-neutral-300
            disabled:border-2 disabled:border-gray-50 disabled:active:scale-100">
                Call
                {{ if gt .CallAmount 0 }}
                ({{.CallAmount}}<i class="fa-solid fa-coins"></i>)
                {{end}}
            </button>
            <button hx-get="/raise-menu/{{ .PlayerId }}" hx-swap="outerHTML" hx-target="#actions" {{if .RaiseDisabled }}
                disabled {{end}} class="
            px-4 py-2 min-w-max w-24
                bg-gray-50 rounded-md active:scale-90 transition flex gap-2
            items-center justify-center disabled:bg-neutral-300
            disabled:border-2 disabled:border-gray-50
                                                    disabled:active:scale-100">
                Raise
            </button>
        </form>
        {{end}}
    </div>
</div>
</div>
{{ end }}
