package templates

templ Home() {
    <div class="flex items-center justify-center h-full">
        <button hx-post="/queue" hx-target="body" class="bg-neutral-200 broder-2 rounded-md p-5">
            Play Poker
        </button>
    </div>
}

