<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link media="print" onload="this.onload=null;this.removeAttribute('media');"
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet" />
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <script src="https://kit.fontawesome.com/b16bbe82f6.js" crossorigin="anonymous"></script>
    <style>
        .app-container {
            margin-top: env(safe-area-inset-top, 0);
            margin-bottom: env(safe-area-inset-bottom, 0);
            height: calc(100vh - env(safe-area-inset-top, 0) - env(safe-area-inset-bottom, 0));
            height: calc(calc(var(--vh, 1vh) * 100) - env(safe-area-inset-top, 0) - env(safe-area-inset-bottom, 0));
        }
    </style>
</head>

<body class="text-text app-container">
    {{ template "home" }}
</body>

</html>
